body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    margin: 0;
    background: #e9e9e9;
}
.training-list {
    width: 95%;
    margin: 3em auto;
}
.training-list__container {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em;
    font-size: .85em;
}
.training-item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.training-item__title {
    font-size: 2em;
}
.training-item__title i {
    float: right;
    line-height: .5em;
    color: #ddd;
}
.training-item__body {
    font-size: 1.3em;
}
.description__text {
    font: inherit;
    font-size: 1.3em;
    width: 100%;
    resize: none;
    box-shadow: none;
}
.description__text--readonly {
    border: none;
}
.title__text {
    font-size: 2em;
    width: 100%;
    margin-top: 10px;
    box-shadow: none;
}
.title__text--readonly {
    border: none;
    width: 100%;
}
.training-item__footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.0em;
    text-align: center;
}
.training-item__footer ul li {
    display: inline;
    padding: 1em 0.5em;
}
@media only screen and (min-width: 673px) {
    .training-list__container {
        column-count: 2;
    }
}
@media only screen and (min-width: 1025px) {
    .training-list__container {
        column-count: 3;
    }
}
