.container {
    background: #e9e9e9;
}
.hero {
    padding-bottom: 1em;
}
.hero-body {
    font-size: 1.5em;
    line-height: .5em
}
.card-header {
    font-size: 2em;
}
.card-header-title, .content {
    resize: none;
    outline: none;
    box-shadow: none;
    border: 1px solid gray;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.textarea {
    width: 100%;
    overflow: auto;
}
.title__text--readonly, .description__text--readonly {
    border: none;
    width: 100%;
}
